Requirements

Python 3.12.4

DJANGO
VERSION 6

mysqlclient
Name: mysqlclient
Version: 2.2.7

djangorestframework
Name: djangorestframework
Version: 3.16.1

Djoser
2.3.3


API ENDPOINTS

/api/menu-items/

/api/menu-items/1

/api/booking/

/api/booking/1

/auth/

/api-token-auth/
