form {
    background-color: rgba(52, 15, 218, 0.637);
    display: block;
    width: 30%;
    margin: auto;
    border-radius: 10px;
}

h1, p {
    margin: auto;
    text-align: center;
    color: rgb(124, 9, 9);
}
input {
    display: block;
   width:300px;
 
}

label {
    color: rgb(255, 255, 255);
}
button {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(179, 250, 15);
}