{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Little Lemon{% endblock %}</title>
    <meta name="description" content="A brief description" />
    <meta
      name="author"
      content="Based in Chicago, Illinois, Little Lemon is a family owned Mediterranean restaurant, focused on traditional recipes served with a modern twist."
    />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Page-specific CSS -->
    {% block extra_css %}{% endblock %}


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    />
    
   
     
  </head>
  <body>
    <!-- Header -->
    <header>
      <img src="{% static 'img/logo.png' %}" alt="Little Lemon Logo" />
    </header>

    <!-- Navigation -->
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Book</a></li>
        {% if request.session.auth_token %}
          <li><a href="{% url 'restaurant-logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'restaurant-register' %}">Register</a></li>
          <li><a href="{% url 'restaurant-login' %}">Login</a></li>
          <li><a href="{% url 'restaurant-logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </nav>

    <!-- Page content -->
    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
      <article>
        <img src="{% static 'img/logo_footer.png' %}" alt="Little Lemon Footer Logo" />
      </article>
      <article>
        <p>&copy; {{ current_year }} Little Lemon M.V DESIGN</p>
      </article>
    </footer>
  </body>
</html>
